#set($root=$request.getContextPath())
<input type="hidden" value="$!page.currentPage" id="currentPage" />
<table class="table order_table mt10">
	<tr width="100%">
		<th colspan="12" class="th_lev1"><span class="fl">Sort By</span>
			<div onclick="goThisPage('sort')" class="sortDiv">
					<p class="sortP">On Shelves Time</p>
					<span class="item dot-top checked"></span> 
					<span class="item dot-bottom checked"></span> 
			</div>
		</th>
	</tr>
	<tr>
		<th width="6%"><a href="javascript:void(0)" onclick="chooseAllCheckbox()">All</a></th>
		<th>Product Name</th>
		<th width="10%">Product ID</th>
		<th width="10%">Price</th>
		<th width="20%">Brand</th>
		<th width="10%">Type</th>
		<!--  <th width="9%">Remove from Shelves Time</th>-->
		<th width="10%" class="tac">Actions</th>
	</tr>
	#if($productList&&!$productList.isEmpty())
                          #foreach($product in $productList)
                          	#if ( "00" != ${product.prodStatus})
	<tr>
		<td>
			<input type="checkbox" name="radio" id="radio" value="$!{product.prodId}">
		</td>
		<td>
			<div class="fl">
				<img alt="" src="$!{product.prodImgUrl}?rs=90_90" />
			</div>
			<div class="mt10">$!{product.name}</div>
		</td>
		<td>$!{product.prodId}</td>
		<td>Rp $viewutil.moneyStringFormat($!{product.price})</td>
		<td>$!{product.prodBrand.name}</td>
		<td>
			#if($product.type==1)
				Product
			#elseif($product.type==2)
				Package
			#elseif(!$product.type)
				Product
			#end
		</td>
		<!-- <td>
		  #if(${product.prodOutOfStockTime})
		    $viewutil.dateFormat(${product.prodOutOfStockTime})
		  #else
		    --
		  #end
		</td> -->
		<td>
			#if($!loginMemberInfo.roleId!='1')
		#if(!$session.getAttribute("RcVendor"))
			#if ( 2 != ${product.status})
			<form id="updategoods" method="post" action="$root/product/initbaseupdate">
				<input type="hidden" id="formprodId" name="prodId" value="$!{product.prodId}">
			</form>
			#end
			<!-- |
			<a href="#">定时上下架</a> -->
			#if ( 2 == ${product.status})
				<span>Edit</span> 
				| <span>Delete</span>
			#else
				<!-- <a href="javascript:void(0)" onclick="checkstore('$!{product.prodId}','updategoods');">Edit</a> -->
				<a href="javascript:void(0)" onclick="javascript:$(this).parent().find('form').submit();">Edit</a>
				
			#if(!$session.getAttribute("RcMerchant"))
			|
			<a href="javascript:void(0)" onclick="showConfirm('Are you sure to delete product?',&quot;deleteProd('$!{product.prodId}')&quot;)">Delete</a>
			#end
			#end
			
			<!-- #if ( "04" == ${product.prodStatus})
			|
				<a href="javascript:void(0)" onclick="putUpDownGoodsByTime('$!{product.prodId}')">定时上下架</a>
			#end -->
		#else
			<span>Edit</span> |
			<span>Delete</span> |
			<span>Remove from Shelves</span> |
			<span>Update Stock</span> 
		#end
		#end
		</td>
	</tr>
	#end
	#end
	#end
</table>
<div class="batsOpt">
	<h1>Bulk Action</h1>
	<input class="btnG bwt60 bht30 bfz12 fl ml10" type="button" value="Copy" onclick="batsCopy()">
	#if(!$session.getAttribute("RcMerchant"))
	<input class="btnO bwt60 bht30 bfz12 fl ml10" type="button" value="Delete" onclick="batsDelete()">
  		#end
  </div>
  <input id="page_pageSize" type="hidden" value="$page.pageSize" />
  <input id="page_totalRows" type="hidden" value="$page.totalRows" />
  <input type="hidden" value="$!page.currentPage" id="currentPage" />
  <div id="pageNm_tip" style="text-align: right; color:red; margin-bottom:20px"></div>
  <div class="page_wrap" style="padding-right: 10px">#vm_page2</div>