<table class="table order_table mt10" id="table">
<tbody>
	<th style="width:22%;">Brand Name</th>
	<th style="width:25%;">Logo</th>
	<th style="width:32%;">Description</th>
	<th style="width:21%;">Actions</th>
	#foreach($bra in $list)
	<tr>
		<td>$!bra.name</td>
		<td><img url="$!{bra.logoUrl}" src="$!{bra.logoUrl}?rs=550_90" style="max-height:60px;"></td>
		<td style="text-align: left;">$!bra.description</td>
		<td>
			#if($!bra.delFlag ==  0)
			<a href="javascript:void(0)" onclick="updatePopWin('$!bra.prodBrandId',this)">Edit</a> |
			<a href="javascript:void(0)" onclick="showConfirm('Are you sure to disable the brand? If you disable,The data can not be restore.',&quot;deleteBrand('$!bra.prodBrandId')&quot;)">Disable</a>
			#else
			Disabled
			#end 
		</td>
	</tr>
	#end
	
</tbody>
</table>
<input type="hidden" value="$!page.currentPage" id="currentPage">
<input id="page_pageSize" type="hidden" value="$page.pageSize" />
<input id="page_totalRows" type="hidden" value="$page.totalRows" />
<div id="pageNm_tip" style="text-align: right; color:red; margin-bottom:20px"></div>
<div class="page_wrap" style="padding-right: 10px">#vm_page2</div>