#set($layout = "layout/main.vm")  
#set($title = "Brand list" )
#set($extCss = "/static/css/jquery-ui-timepicker-addon.min.css")
#set($extJs = "/static/js/freight.js,/static/js/jquery.ui.datepicker.js,/static/js/ajaxfileupload.js")
#set($root=$request.getContextPath())
<input type="hidden" value="$root" id="rootPath">
<div class="rightContent fl">
	<div class="tpos ml30 mt25">
	 	<h1 class="fl">City Management</h1>
	 	<div class="fr">
			<input class="btnG bwt125 bht39 bfz16 fr mt12" type="button" value="Add City" onclick="addCityWin()">
		</div>
	</div> 
	<div class="data_logic ml30">
		<div class="searchArea bht107">
			<div class="mt35">
				<div class="unit">
					<label>City Name</label>
					<input  type="text" name="cityName" id="cityName" value="">
				</div>
				<div class="unit">
					<label >Province	</label>
						<input  type="text" name="provinceName" id="provinceName" value="">
				
				</div>
				<div style="float:right;">
					<input class="button" type="button" value="Search" onclick="goThisPage('search')">
				</div>
			</div>
		</div>
		
		<div class="service_wrap mt10" id="productListDiv">
			<input type="hidden" value="$!page.currentPage" id="currentPage" />
						<table class="table order_table mt10">
							<tr>
								<th width="10%">City Name</th>
								<th width="10%">Province</th>
								<th width="20%" class="tac">Actions</th>
							</tr>
							#if($citys&&!$citys.isEmpty())
		                              #foreach($city in $citys)
							<tr>
							    <td>$!{city.name}</td>
								<td>$!{city.provinceName}</td>
								<td>
								<a href="javascript:void(0)" onclick="javascript:editCityWin('$!city.cityId',this)">Edit</a>		
									|
									<a href="javascript:void(0)" onclick="showConfirm('Are you sure to delete city?',&quot;deleteCity('$!{city.cityId}')&quot;)">Delete</a>
								
								</td>
							</tr>
							#end
							#end
						</table>
					   <input id="page_pageSize" type="hidden" value="$page.pageSize" />
					   <input id="page_totalRows" type="hidden" value="$page.totalRows" />
					   <input type="hidden" value="$!page.currentPage" id="currentPage" />
					   <div id="pageNm_tip" style="text-align: right; color:red; margin-bottom:20px"></div>
					   <div class="page_wrap" style="padding-right: 10px">#vm_page2</div>
		</div>
	</div>
</div>
<div class="shade_layout" style="display: none;"></div>
<!-- 娣诲姞鍝佺墝寮圭獥 -->
<div class="pop_windows" id="addpopwin" style="display:none;">
	<div class="layout">
		<a  class="ico_close" href="javascript:close();" ></a> 
		<div class="main">
			<div class="hd">
				<h2>Add Brand</h2>
			</div>
			<div class="bd_p10" style="padding-left:82px">
               	<div><lebel class="colortitle"><span class="colorRed">*</span>Brand Name:</lebel><input class="poptxt" type="text" name="prodBrandName" id="prodBrandName" value=""></div>
				<div style="margin-top:20px;"></div>
				<input type="hidden" name="fileId" id="fileId" value="">
				<div style="position:relative;">
					<lebel class="colortitle" style="margin-left: 40px;"><span class="colorRed">*</span>Logo:</lebel> 
					
					<img class="ml13" src="$root/static/images/ico/icon_image.png" id="photocover" style="width:70px; height:70px;">
					<input type="button" class="button" value="Upload">
			        <input type="file" name="cover" size="1" id="cover" onchange="uploadCover()" value="涓婁紶鍥剧墖" style="opacity:0; filter: Alpha(Opacity=0); cursor:pointer;z-index:1;position: absolute;left: 163px; top: 18px; width: 89px;height: 29px;" />
				</div>
				<div style="margin-top:20px;"><lebel class="colortitle" style="margin-left: 8px;"><span class="colorRed">*</span>Description:</lebel><textarea class="poptxt" style="height:100px;" name="prodBrandDesc" id="prodBrandDesc" value=""></textarea></div>
			</div>
		</div>
			<div class="popup_btn_con" id="popup_btn_con" myvalue="" style="text-align:center; height:40px;">
				<input class="btnG bwt100 bht30 bfz16"  type="button" onclick="addNewBrand()" id="addnewbtn" value="Submit" />
			</div>
	</div>
</div>


	<!-- 鏌ョ湅搴撳瓨 div begin -->
<div class="shade_layout" style="display: none;"></div>
<div class="pop_windows" id="open_returnPop" style="display: none;"></div>
<div class="pop_windows" id="cityWin" style="display:none;">
<form id="cityWinForm">
<input type="hidden" name="cityId">
	<div class="layout">
		<a class="ico_close" href="javascript:close();"></a> 
		<div class="main">
			<div class="hd">
				<h2></h2>
			</div>
			<div class="bd_p10" style="padding-left:82px">
               	<div><lebel class="colortitle" style="margin-left:27px"><span class="colorRed">*</span><span>City:</span></lebel><input class="poptxt" type="text" name="name" id="name" value=""></div>
               		<div style="margin-top:20px;"></div>
               	<div><lebel class="colortitle"><span class="colorRed">*</span><span>Province:</span></lebel><input class="poptxt" type="text" name="provinceName" id="provinceName" value=""></div>
               		<div style="margin-top:20px;"></div>
               	#*<div><lebel class="colortitle"  style="margin-left: 15px;"><span class="colorRed">*</span><span style="margin-right:10px">Status:</span></lebel><input  type="radio" name="isDredged" id="isDredged" value="1" checked> Available <input  type="radio" name="isDredged" id="isDredged" value="0" style="margin-left:10px">Unavailable</div>*#
				#*	<div style="margin-top:20px;"></div>*#
               	#*<div><lebel class="colortitle" style="margin-left: 3px;"><span class="colorRed">*</span><span  style="margin-right:10px">Hot City:</span></lebel><input  type="radio" name="isHot" id="isHot" value="1" checked> Yes  <input  type="radio" name="isHot" id="isHot" value="0" style="margin-left:40px"> No </div>*#
				#* 	<div style="margin-top:20px;"></div>*#
				#* 	<div><lebel class="colortitle" style="margin-left: -3px;"><span class="colorRed">*</span><span  style="margin-right:10px">Is Default:</span></lebel><input  type="radio" name="isDefault" id="isDefault" value="1" checked> Yes  <input  type="radio" name="isDefault" id="isDefault" value="0" style="margin-left:40px"> No </div>*#
				#*<div style="margin-top:20px;"><lebel class="colortitle" style="margin-left: -39px;"><span class="colorRed">*</span><span>Freight Amount:</span></lebel><input class="poptxt" type="text" name="freight" id="freight" value=""></div>*#
				#*<div style="margin-top:20px;"><lebel style="margin-left: -4px;" class="colortitle" ><span class="colorRed">*</span><span>Minimum:</span></lebel><input class="poptxt" type="text" name="freightBaseAmount" id="freightBaseAmount" value=""></div>*#
			</div>
			<div class="popup_btn_con" id="popup_btn_con" myvalue="">
				<input class="btnG bwt100 bht30 bfz16" type="button" onclick="addCity()" id="readnumbtn" value="Submit">
			</div>
		</div>
	</div>
	</form>
</div>