<div class="service_wrap" >
	<table class="table order_table mt10" id="review" >
		<th style="width:8%;">Company ID</th>
		<th style="width:12%;">Name</th>
		<th>Contact</th>
		<th>Phone</th>
		<th>Logo</th>
		<th>Chain</th>
		<th>City</th>
		<th style="width:8%;">Create Time</th>
		<th style="width:10%;">Actions</th>
		#foreach($merchant in $list)
		<tr>
			<td>
				$merchant.merchantId
				#set($taxRate = 0)
				#set($taxRate = $!merchant.taxRate * 100)
				#set($serviceCharge = 0)
				#set($serviceCharge = $!merchant.serviceCharge * 100)
				<input type="hidden" name="taxRate" value="$taxRate">
				<input type="hidden" name="serviceCharge" value="$serviceCharge">
				<input type="hidden" name="mealStyle" value="$!merchant.mealStyle">
			 </td>
			<td>$merchant.name</td>
			<td>$!merchant.contactPerson</td>
			<td>$merchant.mobile</td>
			<td>
				<img src="$!{merchant.logoUrl}?rs=90_90" style="max-width:50px;">
				<input type="hidden" name="logoUrl" value="$!{merchant.logoUrl}">
				<input type="hidden" name="logoId" value="$!merchant.logoUrl">
				<input type="hidden" name="mdesc" value="$!merchant.description">
			</td>
			<td>
				<input type="hidden" name="vendorId" value="$!merchant.vendorId">
				$!merchant.vendor.name
			</td>
			<td>
				<input type="hidden" name="province" value="$!merchant.city.name">
				<input type="hidden" name="cityId" value="$!merchant.cityId">
				<input type="hidden" name="myaddress" value="$!merchant.address">
				$!merchant.city.name
			</td>
			<td>$!viewutil.dateFormat($!merchant.createTime)</td>
			<td id="action$!merchant.merchantId" hasQRCodes="$!merchant.hasQRCodes">
				#if($!merchant.delFlag == 0)
					#if(!$session.getAttribute("RcVendor"))
						<a href="javascript:void(0)" onclick="showModifyPopupWin('$!merchant.merchantId',this)">Edit</a> |
						<a href="javascript:void(0)" onclick="showAccountPopupWin('$!merchant.merchantId',this)">Edit User</a> |
						<a href="javascript:void(0)" onclick="showConfirm('Are you sure to disable the merchant? If you disable,The data can not be restore.',&quot;deleteOne('$!merchant.merchantId',this)&quot;)">Disable</a> |
						<a href="javascript:void(0)" onclick="generateQRCode($!merchant.merchantId)">Generate QR Code</a> |
						#if($!merchant.hasQRCodes == 1)<a href="downloadqrcode?merchantId=$!merchant.merchantId"">Download QR Code</a>#end
						<!--<a href="javascript:void(0)" onclick="authBrandChoseBox('$!merchant.merchantId')">Authorize Brand</a>-->
					<!-- 	<a href="javascript:void(0)" onclick="authApplicator('$!merchant.merchantId')">Auth Applicator</a>  --> 
					#else
						<span>Edit</span> |
						<span>Edit User</span> |
						<span>Delete</span> |
						<span>Authorize Brand</span>
					#end
				#else
                    <a href="javascript:void(0)" onclick="showConfirm('Are you sure to enable the merchant?', 'enableOne($!merchant.merchantId,this)')">Enable</a>
				#end
			</td>
			
		</tr>
		#end
	</table>
	<input type="hidden" value="$!page.currentPage" id="currentPage">
	<input id="page_pageSize" type="hidden" value="$page.pageSize" />
	<input id="page_totalRows" type="hidden" value="$page.totalRows" />
	<div id="pageNm_tip" style="text-align: right; color:red; margin-bottom:20px"></div>
	<div class="page_wrap" style="padding-right: 10px">#vm_page2</div>
</div>
