	#set($root=$request.getContextPath())
    <table class="table order_table mt10">
        <tr width="100%">
            <th colspan="12" class="th_lev1"><span class="fl">Sort By</span>
                <div onclick="goThisPage('sort')" class="sortDiv">
                    <p class="sortP">Order Time</p>
                    <span class="item dot-top checked"></span>
                    <span class="item dot-bottom checked"></span>
                    <input style="display: none" type="checkbox" name="orderTimeDesc" id="orderTimeDesc" checked>


                </div>
                <div onclick="goThisPage('sort1')" class="sortDiv">
                    <p class="sortP">Grand Total</p>
                    <span class="item dot-top checked"></span>
                    <span class="item dot-bottom checked"></span>
                    <input style="display: none" type="checkbox" name="orderPayPriceDesc" id="orderPayPriceDesc" checked>
                </div>
                <div class="fr">
##                    <img class="refresh" src="/restaurant/static/images/ico/refresh.png" onclick="goThisPage('search')" style="margin-top: 2px">
##                    <input class="sortBtn" type="button" value="Refresh" onclick="goThisPage('search')">
                        <div onclick="goThisPage('search')" style="width: 130px;height: 28px;border: 1px solid #ccc;margin-right: 20px;line-height: 28px;background: white;cursor: pointer;">
                            <img src="/restaurant/static/images/ico/refresh.png" style="float: left;margin-top: 5px;margin-left: 10px;">
                            <span style="font-weight: bold;float: left;margin-left: 10px;">Refresh</span>
                        </div>
                </div>
            </th>
        </tr>
        <tr>
##            <th><a href="javascript:void(0)" onclick="chooseAllCheckbox()">All</a></th>
            <th width="10%">Restaurant</th>
            <th width="10%">Order ID</th>
            <th width="10%">Order Time</th>
            <th width="10%">Mobile</th>
            <th width="10%">Customer Name</th>
			<th width="10%">Way for meal</th>
			<th width="10%">Table Number</th>
            <th width="10%">Sub Total</th>
            <th width="10%">Grand Total</th>
            <th width="20%">Status</th>
            #if($session.getAttribute("RcMerchant"))<th width="20%" class="tac">Actions</th>#end
        </tr>
        #if($list&&!$list.isEmpty())
            #foreach($item in $list)
                <tr>
##                    <td><input type="checkbox" name="radio" id="radio" value="$!item.orderId"></td>
                    <td>$!{item.merchant.name}</td>
                    <td>$!{item.orderId}</td>
                    <td>#if(${item.createTime})$viewutil.dateFormat(${item.createTime})#else--#end</td>
                    <td>$!{item.member.mobile}</td>
                    <td>$!{item.member.name}</td>
					<td>#if($!{item.eatType}==1)Eat In#else Take Out#end</td>
					<td>$!{item.tableNumber}</td>
                    <td>Rp #if ($!{item.productPrice})$viewutil.moneyStringFormat($!{item.productPrice})#else 0 #end<input type="hidden" value="${item.productPrice}"></td>
                    <td>Rp #if ($!{item.payPrice})$viewutil.moneyStringFormat($!{item.payPrice})#else 0 #end<input type="hidden" value="${item.payPrice}"></td>

                    <td>#if ($!{item.sellerStatus}==1)Unconfirmed#end 
						#if ($!{item.sellerStatus}==2)Grabbed#end 
						#if ($!{item.sellerStatus}==3)<span style="color:green">Confirmed</span>#end
					    #if ($!{item.sellerStatus}==4)Completed#end
					 	#if ($!{item.sellerStatus}==5)Canceled#end
                        <input type="hidden" value="${item.sellerStatus}"></td>
                    #if($session.getAttribute("RcMerchant"))
                        <td>
                            <a href="$root/order/orderDetail?orderId=${item.orderId}" >View Detail</a>
                        #*	#if($session.getAttribute("RcMerchant"))
                            #if ($!{item.sellerStatus}==1)
                                | <a href="javascript:void(0)" onclick="confirmWin($!{item.orderId})">Confirm</a>
                                | <a href="javascript:void(0)" onclick="showConfirm('Are you sure to cancel order?',&quot;cancel('$!{item.orderId}')&quot;)">Cancel</a>
                             #elseif ($!{item.sellerStatus}==3)
                                | <a href="javascript:void(0)" onclick="checkOutWin($!{item.orderId})">Check Out</a>
                                | <a href="javascript:void(0)" onclick="showConfirm('Are you sure to cancel order?',&quot;cancel('$!{item.orderId}')&quot;)">Cancel</a>
                             #elseif ($!{item.sellerStatus}==4)
                             #elseif ($!{item.sellerStatus}==5)
                             #end
                             #end
                        #end*#
                        </td>
                    #end
                </tr>

            #end
        #end

    </table>
						<!--<div class="batsOpt">
							<h1>Bulk Action</h1>
							   #if($session.getAttribute("RcMerchant"))
							<input class="btnG bwt100 bht30 bfz12 fl" type="button" value="Export" onclick="batsExport()">
							<input class="btnG bwt100 bht30 bfz12 fl ml10" type="button" value="Input Delivery" onclick="batsInputDelivery()">
							<input class="btnG bwt200 bht30 bfz12 fl ml10" type="button" value="Rejected Transaction" onclick="batsRejectedTransaction()">
						#end
						</div>-->
					   <input id="page_pageSize" type="hidden" value="$page.pageSize" />
					   <input id="page_totalRows" type="hidden" value="$page.totalRows" />
					   <input type="hidden" value="$!page.currentPage" id="currentPage" />
					   <div id="pageNm_tip" style="text-align: right; color:red; margin-bottom:20px"></div>
					   <div class="page_wrap" style="padding-right: 10px">#vm_page2</div>