#set($layout = "layout/main.vm")  
#set($title = "SKU list" )
#set($extJs = "/static/js/prodProp.js")
#set($root=$request.getContextPath())
<div class="rightContent fl">
	<div class="tpos ml30  mt25">
	 	<h1 class="fl">SKU List</h1>
	</div>
	<div class="data_logic ml30 mt50">
		<div class="fl wd50">
			<div class="fl wd100 ht45">
				<h2 class="fl">SKU Type</h2>
				<input style="display:none;" class="btnG bwt100 bht39 bfz19 fr" type="button" value="Add" onclick="addPropertyWin()">
			</div>
			<div class="service_wrap" id="reloadSearchMessages">
				<table class="table order_table mt10" id="table">
					<th>Name</th>
					<th style="display:none">Has different pictures</th>
					<th style="display:none">Is Applicator</th>
					<th style="display:none">Actions</th>
					#set($number=1)
					#foreach($prop in $list)
						#if($number==1)
							<tr onclick="showEnumList('$prop.prodPropId',this)" class="selectedC">
						#else
							<tr onclick="showEnumList('$prop.prodPropId',this)">
						#end
							<td>$prop.name</td>
							<td style="display:none">
								#if($prop.hasImg==1)yes #else no #end
							</td>
							<td style="display:none">
								#if($prop.isPackService==1)yes #else no #end
							</td>
							<td style="display:none">
								<a href="javascript:void(0)" onclick="editSkuPropPopup('$prop.prodPropId',this)">Edit</a> |
								<a href="javascript:void(0)" onclick="showConfirm('Are you sure to delete the property? If you deleted,The Value belong to the property will be delete.',&quot;deleteOneProp('$prop.prodPropId',1)&quot;)">Delete</a>
							</td>
						</tr>
						#set($number=$number+1)
					#end
				</table>
				<input type="hidden" value="$!page.currentPage" id="currentPage">
				<input id="page_pageSize" type="hidden" value="$page.pageSize" />
				<input id="page_totalRows" type="hidden" value="$page.totalRows" />
				<div id="pageNm_tip" style="text-align: right; color:red; margin-bottom:20px;display:none;"></div>
				<div class="page_wrap" style="padding-left: 10px;display:none;">#vm_page2</div>
			</div>
		</div>
		
		<div class="fr wd45">
			<div class="wd100 ht45">
				<input type="hidden" name="prodPropId" id="prodPropId" value="$!prodPropId">
				<h2 class="fl">SKU Value</h2>
				<input class="btnG bwt100 bht39 bfz19 fr" type="button" value="Add" onclick="addEnumPopWin()">
			</div>
			<div class="scrollTable_hd">
				<div class="service_wrap" style="min-height: 1px;">
				<table class="table mt10 scrolltable">
					<tbody>
						<tr>
							<th style="width:35%">Value Name</th>
							<th style="width:30%;display:none;">Serial No.</th>
							<th style="width:35%">Actions</th>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
			<div class="scrollTable_bd tac">
				<table class="table">
					<tbody id="enumbody">
					#set($enumber=1)
					#foreach($enum in $enumList)
						<tr>
							<td style="width:37.76%;">$enum.prodPropEnum</td>
							<td style="width:31%;display:none;">$enum.seq</td>
							<td style="width:35%">
								<a href="javascript:void(0)" onclick="editOneEnumPopWin('$enum.prodPropEnumId',this)">Edit</a> |
								<a href="javascript:void(0)" onclick="showConfirm('Are you sure to delete the property? If you deleted,The Value belong to the property will be delete.',&quot;deleteOneEnum('$enum.prodPropEnumId')&quot;)">Delete</a>
							</td>
						</tr>
						#set($enumber=$enumber+1)
					#end
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="shade_layout" style="display: none;"></div>
<div class="pop_windows" id="prodPropPopWin" style="display:none;">
	<div class="layout">
		<a  class="ico_close" href="javascript:close();" ></a> 
		<div class="main">
			<div class="hd">
				<h2>Add SKU Type</h2>
			</div>
			<div class="bd_p10" style="padding-left:82px">
               	<div><lebel><span class="colorRed">*</span>Property Name:</lebel><input class="poptxt" type="text" name="prodPropName" id="prodPropName" value=""></div>
				<div style="margin-top:20px; display:none"><lebel style="margin-left: 54px;">Is SKU:</lebel><input style="margin-left:15px;" type="checkbox" name="isSku" id="isSku" checked></div>
				<div class="checkbox" style="margin-top:20px;"><lebel style="margin-left: -32px;">Has different pictures:<input style="margin-left:15px;" type="checkbox" name="isColor" id="isColor"></lebel></div>
				<div style="margin-top:20px;"><lebel style="margin-left: 19px;">Is Applicator:</lebel><input style="margin-left:15px;" onclick="changeAppliStatus()" type="checkbox" name="isApplicator" id="isApplicator"></div>
			</div>
			<div class="popup_btn_con" id="popup_btn_con" myvalue="">
				<input class="btnG bwt100 bht30 bfz16"  type="button" onclick="saveProperty()" id="readnumbtn" value="Submit" />
			</div>
		</div>
	</div>
</div>

<div class="pop_windows" id="propEnumPopWin" style="display:none;">
	<div class="layout">
		<a  class="ico_close" href="javascript:close();" ></a> 
		<div class="main">
			<div class="hd">
				<h2>Add SKU Value</h2>
			</div>
			<div class="bd_p10" style="padding-left:82px">
               	<div><lebel><span class="colorRed">*</span>Value Name:</lebel><input class="poptxt" type="text" name="prodPropEnum" id="prodPropEnum" value=""></div>
				<div style="margin-top:20px;display:none;"><lebel style="margin-left: 23px;">Serial No:</lebel><input class="poptxt" type="text" name="serialNum" id="serialNum" value=""></div>
			</div>
			<div class="popup_btn_con" id="popup_btn_con" myvalue="">
				<input class="btnG bwt100 bht30 bfz16"  type="button" onclick="savePropEnum()" id="readnumbtn" value="Submit" />
			</div>
		</div>
	</div>
</div>

<div class="pop_windows" id="updateEnumPopWin" style="display:none;">
	<div class="layout">
		<a  class="ico_close" href="javascript:close();" ></a> 
		<div class="main">
			<div class="hd">
				<h2>Update SKU Value</h2>
			</div>
			<div class="bd_p10" style="padding-left:82px">
				<input type="hidden" name="updateprodPropEnumId" id="updateprodPropEnumId" value="">
               	<div><lebel><span class="colorRed">*</span>Value Name:</lebel><input class="poptxt" type="text" name="updatePropEnum" id="updatePropEnum" value=""></div>
				<div style="margin-top:20px;display:none;"><lebel style="margin-left: 23px;">Serial No:</lebel><input class="poptxt" type="text" name="updateserialNum" id="updateserialNum" value=""></div>
			</div>
			<div class="popup_btn_con" id="popup_btn_con" myvalue="">
				<input class="btnG bwt100 bht30 bfz16"  type="button" onclick="modifyPropEnum()" id="modifyPropbtn" value="Submit" />
			</div>
		</div>
	</div>
</div>

<div class="pop_windows" id="updatePopWin" style="display:none;">
	<div class="layout">
		<a  class="ico_close" href="javascript:close();" ></a> 
		<div class="main">
			<div class="hd">
				<h2>Update SKU Property</h2>
			</div>
			<div class="bd_p10" style="padding-left:82px">
				<input type="hidden" name="upprodPropId" id="upprodPropId" value="">
				<div><lebel><span class="colorRed">*</span>Property Name:</lebel><input class="poptxt" type="text" name="upprodPropName" id="upprodPropName" value=""></div>
				<div style="margin-top:20px; display:none"><lebel style="margin-left: 54px;">Is SKU:</lebel><input style="margin-left:15px;" type="checkbox" name="upisSku" id="upisSku" checked></div>
				<div style="margin-top:20px;"><lebel style="margin-left: -32px;">Has different pictures:</lebel><input style="margin-left:15px;" type="checkbox" name="upisColor" id="upisColor"></div>
				<div style="margin-top:20px;"><lebel style="margin-left: 19px;">Is Applicator:</lebel><input style="margin-left:15px;" onclick="changeAppliStatus()" type="checkbox" name="upisApplicator" id="upisApplicator"></div>
			</div>
			<div class="popup_btn_con" id="popup_btn_con" myvalue="">
				<input class="btnG bwt100 bht30 bfz16"  type="button" onclick="modifyProperty()" id="modifyPropertybtn" value="Submit" />
			</div>
		</div>
	</div>
</div>
<script  type="text/javascript" >
//Highlight selected row
$("#table").on("mousedown", "tr", function() {
  $(".selectedC").not(this).removeClass("selectedC");
  $(this).toggleClass("selectedC");
});

	function goThisPage(ta){
		var currentPage = '';
		if(ta == 'search'){
			currentPage = 1;
		}else if(ta == '+'){//下一页
			//当前页
			currentPage = parseInt($('#currentPage').val()) + 1;
		}else if(ta == '-'){
			currentPage = parseInt($('#currentPage').val()) - 1;
		}else if(ta == '='){
			currentPage = $("#page_currentPage").val();
			var reg =/^\d+$/;
			if(!currentPage.match(reg) || parseInt(currentPage) <= 0 ){
				$("#pageNm_tip").text('Please input Positive integer!');
				return;
			}
			var pageSize = $("#page_pageSize").val();
			var totalRow = $("#page_totalRows").val();
			var totalPage = Math.ceil(parseInt(totalRow)/parseInt(pageSize));
			if (parseInt(currentPage) > totalPage) {
				$("#pageNm_tip").text('The total page is :' + totalPage);
				return;
			}
		}else{
			currentPage = ta;
		}
		$.post("$root/prodprop/skulist", {"currentPage":currentPage},
			function(data){
			    $("#reloadSearchMessages").empty().html(data);
			  //Highlight selected row
			    $("#table").on("mousedown", "tr", function() {
		    	  $(".selectedC").not(this).removeClass("selectedC");
		    	  $(this).toggleClass("selectedC");
		    	});
		    }
		);
	}	
</script>