#set($layout = "layout/main.vm")
#set($title = "Brand list" )
#set($extCss = "/static/css/jquery-ui-timepicker-addon.min.css")
#set($extJs = "/static/js/vendor.js,/static/js/jquery.ui.datepicker.js,/static/js/ajaxfileupload.js")
#set($root=$request.getContextPath())
<input type="hidden" value="$root" id="rootPath">
<div class="rightContent fl">
	<div class="tpos ml30 mt25">
	 	<h1 class="fl">Chain Management</h1>
	 	<div class="fr">
			<input class="btnG bwt125 bht39 bfz16 fr mt12" type="button" value="Add Chain" onclick="addVendorWin()">
		</div>
	</div> 
	<div class="data_logic ml30">
		<div class="searchArea bht107">
		<form id="searchForm">
			<div class="mt35">
				<div class="unit">
					<label >Chain Name</label>
				<input  type="text" name="vendorName" id="vendorName" value="">
					
				</div>
				
				<div class="unit">
					<label >Contact	</label>
						<input  type="text" name="vendorContact" id="vendorContact" value="">
				
				</div>
				
					<div class="unit">
					<label>Email	</label>
						<input  type="text" name="email" id="email" value="">
				</div>
				
			</div>
				<div class="clearfix">
			<div class="mt10 unit">
					<label >Phone</label>
						<input  type="text" name="mobile" id="mobile" value="">
					
				</div>
			<div class="mt10" style="float:right;">
					<input class="button" type="button" value="Search" onclick="goThisPage('search')">
				</div>
			
			</div>
			</form>
		</div>
		
	
		<div class="service_wrap mt10" id="productListDiv">
			<input type="hidden" value="$!page.currentPage" id="currentPage" />
            #parse("vendor_inner.vm")
		</div>
	</div>
</div>
<div class="shade_layout" style="display: none;"></div>
<div class="pop_windows" id="open_returnPop" style="display: none;"></div>
	<!-- 查看库存 div begin -->
<div class="pop_windows" id="vendorWin" style="display:none;">
<form id="vendorWinForm">
<input type="hidden" name="vendorId">
<input type="hidden" name="memberId">
	<div class="layout">
		<a class="ico_close" href="javascript:close();"></a> 
		<div class="main">
			<div class="hd">
				<h2></h2>
			</div>
			<div class="bd_p10" style="padding-left:82px">
               	<div><lebel class="colortitle" style="margin-left: -30px;"><span class="colorRed">*</span><span>Chain Name:</span></lebel><input class="poptxt" type="text" name="name" value="" maxlength="50"></div>
				<div style="margin-top:20px;"><lebel class="colortitle" style="margin-left: -4px;"><span class="colorRed">*</span><span>Contact:</span></lebel><input class="poptxt" type="text" name="contactPerson" value="" maxlength="50"></div>
				<div style="margin-top:20px;"><lebel style="margin-left: 4px;" class="colortitle"><span class="colorRed">*</span><span>Phone:</span></lebel><input class="poptxt" type="text" name="mobile" value="" maxlength="20"></div>
				<div style="margin-top:40px;"><lebel style="margin-left: -12px;" class="colortitle"><span class="colorRed">*</span><span>User Role:</span></lebel><span style="margin-left: 11px;">$!{role.name}</span></div>
			    <div style="margin-top:20px;"><lebel class="colortitle" style="margin-left: -23px;"><span class="colorRed">*</span><span>User Name:</span></lebel><input class="poptxt" type="text" name="account" value="" maxlength="50"></div>
				<div style="margin-top:20px;"><lebel style="margin-left: -13px;" class="colortitle"><span class="colorRed">*</span><span>Password:</span></lebel><input class="poptxt" type="password" name="password" value="" maxlength="100" autocomplete="new-password"></div>
				<div id="passwordTip" style="color:red;margin-left:69px;"><span >if you need reset password,please input here.</span><br><span>if not,just make it empty.</span></div>
		        <div style="margin-top:20px;"><lebel style="margin-left: 10px;" class="colortitle"><span class="colorRed">*</span><span>Email:</span></lebel><input class="poptxt" type="text" name="email" value="" maxlength="50"></div>
			    <div style="margin-top:20px;"><lebel style="margin-left: -24px;" class="colortitle"><span class="colorRed">*</span><span>Description:</span></lebel><textarea style=" vertical-align: middle;height:70px" class="poptxt" name="description" maxlength="500"></textarea></div>
			</div>
			<div class="popup_btn_con" id="popup_btn_con" myvalue="">
				<input class="btnG bwt100 bht30 bfz16" type="button" onclick="addVendor()" id="readnumbtn" value="Submit">
			</div>
		</div>
	</div>
	</form>
</div>